:80 {
    reverse_proxy / app1:3000 app2:3000 app3:3000 {
        lb_policy round_robin
        health_uri /health
        health_interval 10s
        health_timeout 2s
        health_status 200
    }
}
